<app-layout>
    <div class="nav justify-content-center">
        <h1 style="align-items: center;">Bem Vindo a S&S</h1>
    </div>
    <br><br>
    <h4 style="align-items: stretch;">
        Sistema WEB completo
        <a href="/produto">
            <li>
                Cadastro de produtos
            </li>
        </a>
        <a href="/cliente/incluir">
            <li>
                Inclusão de clientes
            </li>
        </a>
        <a href="/vendas/incluir">
            <li>
                Realização de Vendas
            </li>
        </a>
    </h4>
</app-layout>